@tailwind base;
@tailwind components;
@tailwind utilities;

.button-yellow {
  background: linear-gradient(to top, #efc25c 0%, #f6da9f 100%);
}
.button-yellow-hover:hover {
  background: linear-gradient(
    to top,
    lighten(#efc25c, 10%) 0%,
    lighten(#f6da9f, 10%) 100%
  );
}
.button-yellow-active:active {
  background: linear-gradient(
    to top,
    darken(#efc25c, 10%) 0%,
    darken(#f6da9f, 10%) 100%
  );
}
