@tailwind base;
@tailwind components;
@tailwind utilities;

.button-yellow {
  @apply border border-gray-500 py-2 button-yellow-color rounded-md button-yellow-hover button-yellow-active;
}
.button-yellow-color {
  background: linear-gradient(to top, #efc25c 0%, #f6da9f 100%);
}
.button-yellow-hover:hover {
  background: linear-gradient(
    to top,
    lighten(#efc25c, 10%) 0%,
    lighten(#f6da9f, 10%) 100%
  );
}
.button-yellow-active:active {
  background: linear-gradient(
    to top,
    darken(#efc25c, 10%) 0%,
    darken(#f6da9f, 10%) 100%
  );
}

.form-shadow {
  box-shadow: 0 3px 5px 0 rgba(146, 146, 146, 0.16);
}
